<table>
    <tr class="header-row">
        <th (click)="sort('name')" class="sortable">Name</th>
        <th (click)="sort('type')" class="sortable">Type</th>
        <th>Operational</th>
        <th>Orbit Type</th>
        <th>Launch Date</th>
    </tr>
<!-- Bonus Missions
1) Zebra Stripes
Alternate the color for every other row in the table. Choose whichever pair of colors you prefer, but the highlighting for space debris should still be distinct. -->
    <tr *ngFor = "let satellite of satellites; let evenItem = even; let oddItem = odd;"
    [class.table]="evenItem"
    [class.odd]="oddItem"
    >
        <td>{{satellite.name}}</td>
        <td [class.warning] = "satellite.isSpaceDebris()">{{satellite.type}}</td> 
        <td>{{satellite.operational}}</td>
        <td>{{satellite.orbitType}}</td>
        <td>{{satellite.launchDate}}</td>
     </tr> 
  
</table>

<!-- TODO 2b: use *ngFor to display satellite data in the table -->
<!-- TODO 3b: add style directive to conditionally highlight satellite type -->

